[submodule "vite_Vue3-TDesign-admin"]
path = vite_Vue3-TDesign-admin
url = https://github.com/WaliAblikim/Vue3-TDesign-admin.git
[submodule "vite_admin-boilerplate"]
path = vite_admin-boilerplate
url = https://github.com/hiliyongke/vue3-admin-boilerplate.git
[submodule "js_geeker-admin"]
path = js_geeker-admin
url = https://gitee.com/HalseySpicy/Geeker-Admin.git
[submodule "vue-admin-template"]
path = vue-admin-template
url = https://gitee.com/panjiachen/vue-admin-template.git
[submodule "js_react-admin-template"]
path = js_react-admin-template
url = https://gitee.com/asdadsaf/react-admin-template.git
[submodule "js_sv3-templates"]
path = js_sv3-templates
url = https://gitee.com/asdadsaf/react-admin-template.git
[submodule "jpure-admin-thin"]
path = pure-admin-thin
url = https://gitee.com/yiming_chang/pure-admin-thin.git
[submodule "vue-pure-admin"]
path = vue-pure-admin
url = https://gitee.com/yiming_chang/vue-pure-admin.git
[submodule "vite-plugin-cdn-import-async"]
path = vite-plugin-cdn-import-async
url = https://github.com/VaJoy/vite-plugin-cdn-import-async.git
[submodule "vue3-vite-ts"]
path = vue3-vite-ts
url = https://gitee.com/spiketyke/vue3_vite_ts.git
[submodule "vite3-vue3-ts"]
path = vite3-vue3-ts
url = https://gitee.com/WorldOfOne/vite3-vue3-ts.git
